<h1>Pizzas</h1>
<div class="pizza-grid">
    @foreach (var pizza in Items ?? Array.Empty<Pizza>())
    {
        <PizzaItem Model="@pizza" />
    }
</div>

@code
{
    [Parameter]
    public IEnumerable<Pizza>? Items { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        // no DOM yet!
    }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        return base.SetParametersAsync(parameters);
    }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            // first time DOM is rendered
            // do something with JavaScript
        }
    }

}
